{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> OPAL website </title>
  <!-- Bootstrap style -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body data-spy="scroll" data-target="nav">
  <div id="wrapper">
    <!-- ******HEADER****** -->
    <div id="header">
      <nav class="navbar transparent navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="main-navbar">
            <a class="navbar-brand" href="#carousel-ss">
              <img src="{% static 'images/OPAL-Logo.svg' %}" id="logo">
            </a>
            <ul class="nav navbar-left navbar-nav nav-child" id="tabs">
              <li> <a href="#about">About</a> </li>
              <li> <a href="#people">People</a> </li>
              <li> <a href="#map">Places</a> </li>
            </ul>
            <ul class="nav navbar-right navbar-nav nav-child" id="sign-in">
              <li class="button">
                <button id="sign-in" type="button" class="btn btn-success navbar-btn">Sign In</button>
              </li>
            </ul>
          </div>
        </div> <!-- container-fluid -->
      </nav>
    </div> <!-- header div -->
    <div id="main-content" data-spy="scroll" data-target=".navbar" style="height:1000px;">
      <div id="carousel-ss" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-ss" data-slide-to="0" class="active"></li>
          {% for img_i in img_indexes %}
            <li data-target="#carousel-ss" data-slide-to="{{ img_i }}"></li>
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          {% for path in img_paths %}
          {% if forloop.first %}
          <div class="item active">
          {% else %}
          <div class="item">
          {% endif %}
            <img src="{% static path %}" alt="Slideshow Images">
          </div>
          {% endfor %}
        </div>

        <a class="left carousel-control" href="#carousel-ss" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-ss" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div> <!-- carousel-ss -->
      <div id="about">
        <img src="{% static 'images/slideshow/Taipei101.jpg' %}" alt="Slideshow Images">
      </div>

      <div id="people">
        <img src="{% static 'images/slideshow/wallpaper-10488.jpg' %}" alt="Slideshow Images">
      </div>

      <div id="map">
        <img src="{% static 'images/slideshow/wallpaper-10488.jpg' %}" alt="Slideshow Images">
      </div>
    </div> <!-- content div -->
  </div> <!-- wrapper div -->
  <!-- Bootstrap scripts -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
  <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  <script src="{% static "js/raphael-min.js" %}"></script>
  <script src="{% static "js/glide.js" %}"></script>
  <script src="{% static "js/taiwan-mapjs" %}"></script>
</body>
